<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>福师大资产预算管理系统</title>

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/font-awesome.css">

		<link rel="stylesheet" type="text/css" href="../../components/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-rtl.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-skins.min.css">

		<script type="text/javascript" src="../../components/jquery/jquery-1.11.2.min.js"></script>

		<script type="text/javascript" src="../../components/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../components/ace/js/ace-elements.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace-extra.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace.min.js"></script>

	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="navbar-header pull-left">
				<a href="#" class="navbar-brand">
					<small>
						<i class="icon-group"></i>
						福师大资产预算管理系统
					</small>
				</a>
			</div>
			<div class="navbar-header pull-right">
				<ul class="nav ace-nav">
					<li class="grey">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							预算人
							<i class="icon-caret-down"></i>
						</a>
						<ul class="user-menu pull-right dropdown-menu dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="icon-cog"></i>
									设置
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-user"></i>
									个人信息
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="../login.html">
									<i class="icon-off"></i>
									注销
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-container">
			<div class="main-container-inner">
				<a href="#" class="menu-toggler">
					<span class="menu-text"></span>
				</a>
				<div class="sidebar">
					<ul class="nav nav-list">
						<li>
							<a href="#">
								<i class="icon-home" aria-hidden="true"></i>
								<span class="menu-text">首页</span>
							</a>
						</li><!-- 主菜单-首页 -->
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-legal"></i>
								<span class="menu-text">预算管理</span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li>
									<a href="budget_app_add.html" target="myiframe">
										<i class="icon-double-angle-right"></i>
											添加预算
									</a>	
								</li>
								<li>
									<a href="budget_app_admin.html" target="myiframe">
										<i class="icon-double-angle-right"></i>
											个人预算
									</a>
								</li>
							</ul><!-- 子菜单 -->
						</li><!--主菜单-预算管理-->
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-shopping-cart"></i>
								<span class="menu-text">采购管理</span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li>
									<a href="subscribe_add.html" target="myiframe">
										<i class="icon-double-angle-right"></i>
										个人申购
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										填写采购项目询价表
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										管理采购项目询价表
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										填写购置贵重仪器论证报告
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										管理购置贵重仪器论证报告
									</a>
								</li>
								
							</ul><!--子菜单-->
						</li><!--主菜单-计划管理-->	
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-cogs"></i>
								<span class="menu-text">个人设置</span>
								<b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										修改个人资料
									</a>
								</li>
								<li>
									<a href="updatepassword.html" target="myiframe">
										<i class="icon-double-angle-right"></i>
										修改我的密码
									</a>
								</li>
							</ul><!--子菜单-->
						</li><!--主菜单-个人设置-->
						<li>
							<a href="#">
								<i class="icon-off" aria-hidden="true"></i>
								<span class="menu-text">退出登录</span>
							</a>
						</li>
					</ul>
					<div class="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>
				</div><!--左侧菜单块-->
			</div>
			<div class="main-content">
				<iframe src="" frameborder="0" style="width:100%;height:1080px;" scrolling="no" name="myiframe">
			</div><!--右侧主要内容-->
		</div><!--主界面块-->

		
	</body>
</html>