<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../components/elementUI/index.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/font-awesome.css">

		<link rel="stylesheet" type="text/css" href="../../components/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-rtl.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-skins.min.css">
		<style type="text/css">
			.el-dialog--large{
				width:480px;
			}
			.footer{
				float:right;
				margin-bottom:20px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="table-responsive">
				<div class="row col-md-12">
					<br>
					&nbsp;&nbsp;
					<button class="btn btn-primary btn-sm" @click="dialogFormVisible = true">
						添加申购
					</button>
					&nbsp;&nbsp;
					<button class="btn btn-primary btn-sm">
						<i class="icon-refresh"></i>
						刷新
					</button>
				</div>
				<table id="sample-table" class="table table-striped table-bordered  dataTable">
					<thead>
						<tr>
							<th class="center sorting">二级单位</th>
							<th class="center sorting">联系人</th>
							<th class="center sorting">联系方式</th>
							<th class="center sorting">单位</th>
							<th class="center sorting">单价</th>
							<th class="center sorting">数量</th>
							<th class="center sorting">进度</th>
							<th class="center sorting_disabled">操作</th>
						</tr>
					</thead>
					<tbody class="center">
						<tr v-for = "(subscribe,index) of subscribes">
							<td>{{ subscribe.user.faculty.name}}</td>
							<td>{{ subscribe.user.name }}</td>
							<td></td>
							<td>{{ subscribe.unit }}</td>
							<td>{{ subscribe.price }}</td>
							<td>{{ subscribe.count }}</td>
							<td>{{ subscribe.auditState }}</td>
							<td>
								<button class="btn btn-primary btn-sm">提交</button>
							</td>
						</tr>				
					</tbody>
				</table>
			</div>
			<el-dialog title="添加申购" :visible.sync="dialogFormVisible" custom-class="el-dialog--large">
				<el-form :model="subscribe">
					<el-form-item label="货物名称" :label-width="formLabelWidth">
						<el-input v-model="subscribe.name"></el-input>
					</el-form-item>
					<el-form-item label="资金来源" :label-width="formLabelWidth">
						<el-cascader
							:options="options"
							v-model="selected"
							@change="handleChange"
							placeholder="从预算采购项目中选择"
							:show-all-levels="false"
							>
						</el-cascader>
					</el-form-item>
					<el-row>
						<el-col :span="7">
							<el-form-item label="计量单位" :label-width="formLabelWidth">
								<el-input v-model="subscribe.unit"></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="10">
							<el-form-item label="单价/万" :label-width="formLabelWidth">
								<el-input v-model="subscribe.price"></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="7">
							<el-form-item label="数量" :label-width="formLabelWidth">
								<el-input v-model="subscribe.count"></el-input>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="16">
							<el-form-item label="需求时间" :label-width="formLabelWidth">
								<el-date-picker
									v-model="subscribe.requiredTime"
									align="right" 
									type="year" 
									placeholder="选择年"
								></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="8">
							<el-form-item label="进口产品" :label-width="formLabelWidth">
								<el-switch
									v-model="subscribe.isImports"
									on-text="是"
									off-text="否"
								></el-switch>
							</el-form-item>
						</el-col>
					</el-row>
					<el-form-item label="主要技术参数及售后服务要求" >
						<el-input 
							type="textarea" 
							:rows="5"
							v-model="subscribe.paramAndRequire"
						></el-input>
					</el-form-item>
				</el-form>
				<div class="footer">
					<el-button @click="dialogFormVisible = false">取消</el-button>
					<el-button @click="save" type="primary">确定</el-button>
				</div>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../../components/vue/vue.js"></script>
	<script type="text/javascript" src="../../components/elementUI/index.js"></script>
	

	<script type="text/javascript" src="../../components/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../components/jquery/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../../components/jquery/jquery.dataTables.bootstrap.js"></script>

	<script type="text/javascript" src="../../components/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../../components/ace/js/ace-elements.min.js"></script>
	<script type="text/javascript" src="../../components/ace/js/ace-extra.min.js"></script>
	<script type="text/javascript" src="../../components/ace/js/ace.min.js"></script>
	<script type="text/javascript" src="../../js/application/subscribe_add.js"></script>
</html>
