<!DOCTYPE html>
<html>
	<head>
		<title>可排序可选中的表格控件</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/font-awesome.css">

		<link rel="stylesheet" type="text/css" href="../../components/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-rtl.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-skins.min.css">
	</head>
	<body>
		<div id="budget_app_admin" class="table-responsive">

			<table id="sample-table" class="table table-hover table-bordered dataTable">
				
				<thead>
					<tr>
						<th class="center sorting">项目号</th>
						<th class="center sorting">项目名称</th>
						<th class="center sorting">所在单位</th>
						<th class="center sorting">年度</th>
						<th class="center sorting">联系人</th>
						<th class="center sorting_disabled">操作</th>
					</tr>
				</thead>
				<tbody class="center">
					<tr v-for="(budgetApp,index) of budgetApps">
						<td>{{ budgetApp.number }}</td>
						<td>{{ budgetApp.name }}</td>
						<td>{{ budgetApp.user.faculty.name }}</td>
						<td>{{ budgetApp.requiredTime }}</td>
						<td>{{ budgetApp.user.name }}</td>
						<td>
							<button class="btn btn-sm btn-primary" v-on:click="modify(budgetApp.id)">查看</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript" src="../../components/jquery/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="../../components/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript" src="../../components/jquery/jquery.dataTables.bootstrap.js"></script>

		<script type="text/javascript" src="../../components/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../components/ace/js/ace-elements.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace-extra.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace.min.js"></script>
		
		<script type="text/javascript">
			jQuery(function($){
				var oTable = $('#sample-table').dataTable( {
					"bFilter":true,
					"language":{
						"url":"../../components/jquery/language/Chinese.json"
					},
					"bJQueryUI":true,
					"bLengthChange":false,  //改变页面显示数据数量，不改变
					"bPaginate":false,      //翻页功能，不翻页
					"bInfo":false,			//页脚信息，不显示
					"aoColumns":[			//第一个用来选中 后面的都可用来排序
						null,null,null,null,null,
						{"bSortable":false}
					]
				});

				$('table th input:checkbox').on('click',function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					})
				})
			})
		</script>
		<script type="text/javascript" src="../../components/jquery/jquerysession.js"></script>
		<script type="text/javascript" src="../../components/vue/vue.js"></script>
		<script type="text/javascript" src="../../js/common/budget_app_admin.js"></script>
	</body>
</html>