<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="../../components/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class="collapse in" style="margin-top: 20px;">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						检索条件
					</h3>
				</div><!-- 检索面板头 -->
				<div class="panel-body">
					<div class="table-responsive">
                        <table class="table-condensed">
                            <tbody>
                                <tr>
                                    <td>检索方式</td>
                                    <td>
                                        <!-- <input class="form-control" id="search-year" type="text" placeholder="输入"> -->
                                        <select name="" id="" class="form-control">
                                        	<option value=1>需求时间</option>
                                        	<option value=2>项目名称</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>条件输入</td>
                                    <td>
                                        <input class="form-control" id="search-deptName" type="text" placeholder="输入">
                                    </td>
                                </tr>
                                <div hidden>
                                    <input class="form-control" id="search-deptId" type="text" placeholder="输入">
                                </div>
                                <tr>
                                    <td class="text-center" colspan="2">
                                        <button type="button" class="btn btn-warning btn-block" id="query">检索</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div><!-- 检索面板主体-->
			</div><!-- 检索面板 -->
			<div class="panel panel-danger">
				<div class="panel-heading">
	                <h3 class="panel-title">
	                    <span>检索结果</span>
	                </h3>
            	</div><!-- 检索结果面板头 -->
				<div class="table-responsive">
	                <table class="table table-vertical table-bordered table-condensed data">
	                    <thead>
	                        <tr>
	                        	<td>预算项目号</td>
	                            <td>预算项目名称</td>
	                            <td>年度</td>
	                            <td>预算总额/元</td>
	                            <td>已申请/元</td>
	                            <td>学院批准/元</td>
	                            <td>财务批准/元</td>
	                            <td>结款/元</td>
	                            <td>操作</td>
	                        </tr>
	                    </thead>
	                    <tbody>
                         <tr>
	                        	<td style="line-height:40px;">预算项目号xx</td>
	                            <td style="line-height:40px;">预算项目名称xx</td>
	                            <td style="line-height:40px;">年度xx</td>
	                            <td style="line-height:40px;">2000元</td>
	                            <td style="line-height:40px;">2000元</td>
	                            <td style="line-height:40px;">1000元</td>
	                            <td style="line-height:40px;">1000元</td>
	                            <td style="line-height:40px;">1000元</td>
	                            <td><button class="btn btn-link ">删除</button><button class="btn btn-link ">修改</button></td>
	                      </tr>
	                    </tbody>
	                </table>
	            </div><!-- 检索结果主体 -->
			</div><!-- 检索结果 -->
		</div><!-- 主块 -->
        
	</body>
</html>