<!DOCTYPE html>
<html>
	<head>
		<title>自行采购项目中标结果信息登记表</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/font-awesome.css">

		<link rel="stylesheet" type="text/css" href="../../components/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-rtl.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-skins.min.css">

		<script type="text/javascript" src="../../components/jquery/jquery-1.11.2.min.js"></script>

		<script type="text/javascript" src="../../components/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../components/ace/js/ace-elements.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace-extra.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace.min.js"></script>
	</head>
	<body>
		<div id="accordion" class="accordion-style1 panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							基本信息
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse">
					<div class="panel-body">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<label>二级申购单位（公章）：</label>
										<label>数学与计算机科学学院</label>
									</td>
									<td>
										<label>采购人：</label>
										<label>吴忠恩</label>
									</td>
									<td>
										<label>时间：</label>
										<label>2016年10月2日</label>
									</td>
								</tr>
								<tr>
									<td>
										<label>采购项目号：</label>
										<label>20161002104527</label>
									</td>
									<td>
										<label>采购项目：</label>
										<label>科研实验材料</label>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							合同信息
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group col-md-4">
								<label class="col-md-4">履约金：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">质保期：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">合同号：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>

							<div class="form-group col-md-12 text-center">
								<h4 class="">甲方</h4>
							</div>

							<div class="form-group col-md-4">
								<label class="col-md-4">地址：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">电话：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">银行账号：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">负责人：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">委托代理人：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">签订日期：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>

							<div class="form-group col-md-12 text-center">
								<h4 class="">乙方</h4>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">地址：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">电话：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">银行账号：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">负责人：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">委托代理人：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label class="col-md-4">签订日期：</label>
								<div class="col-md-8">
									<input type="" name="" class="form-control">
								</div>
							</div>
						</form>	
					</div>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
							采购项目
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<button class="btn btn-primary btn-sm">
							<i class="icon-plus"></i>
							添加采购项目
						</button>
						<br>
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>货物及服务名称</th>
									<th>数量</th>
									<th>单价(万元)</th>
									<th>单项合计金额</th>
									<th>主要技术参数及售后服务要求</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>货物1</td>
									<td>10</td>
									<td>2.0</td>
									<td>20.0</td>
									<td>主要技术参数...</td>
									<td>
										<button class="btn btn-sm">
	                    				修改
		                    			</button>
		                    			<button class="btn btn-sm">
		                    				删除
		                    			</button>
									</td>
								</tr>
								<tr>
									<td>货物1</td>
									<td>10</td>
									<td>2.0</td>
									<td>20.0</td>
									<td>主要技术参数...</td>
									<td>
										<button class="btn btn-sm">
	                    				修改
		                    			</button>
		                    			<button class="btn btn-sm">
		                    				删除
		                    			</button>
									</td>
								</tr>
								<tr>
									<td>货物1</td>
									<td>10</td>
									<td>2.0</td>
									<td>20.0</td>
									<td>主要技术参数...</td>
									<td>
										<button class="btn btn-sm">
	                    				修改
		                    			</button>
		                    			<button class="btn btn-sm">
		                    				删除
		                    			</button>
									</td>
								</tr>
								<tr>
									<td>货物1</td>
									<td>10</td>
									<td>2.0</td>
									<td>20.0</td>
									<td>主要技术参数...</td>
									<td>
										<button class="btn btn-sm">
	                    				修改
		                    			</button>
		                    			<button class="btn btn-sm">
		                    				删除
		                    			</button>
									</td>
								</tr>
							</tbody>
						</table>
						<h4>总计金额：</h4>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
							相关操作
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<button class="btn pull-right btn-sm">保存</button>
						<div class="pull-right">&nbsp;&nbsp;</div>
						<button class="btn btn-primary pull-right btn-sm">提交</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>