<!DOCTYPE html>
<html>
	<head>
		<title>修改密码</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../../components/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../components/ace/css/L5-all.css">
		<link rel="stylesheet" href="../../components/ace/css/font-awesome.css">
		<link rel="stylesheet" href="../../components/ace/css/ace.onpage-help.css">
		<link rel="stylesheet" href="../../components/ace/css/select2.css">
		<link rel="stylesheet" href="../../components/ace/css/ace-fonts.css">
		<link rel="stylesheet" href="../../components/ace/css/index.css">
		<link rel="stylesheet" href="../../components/ace/css/ace.css">
	</head>
	<body class="no-skin L5-chrome" style="background: white;">
		<div class="user-profile row">
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
					<div class="profile-info-name" style="width:40%;">原密码</div>
					<div class="profile-info-value" style="width:60%;">
						<input id="oldPassword" type="password" name="oldPassword" onchange="chek-user()">
						<!-- 此id用于ajax检测  -->
						<font id="functionHint" color="red">*</font>
					</div>
				</div><!-- 原密码 -->
				<div class="profile-info-row">
					<div class="profile-info-name" style="width:40%;">新密码</div>
					<div class="profile-info-value" style="width:60%;">
						<input id="newPassword" type="password" name="newPassword" onchange="chek-newpwd()">
						<!-- 此id用于ajax检测  -->
						<font id="functionHint1" color="red">*</font>
					</div>
				</div><!-- 新密码 -->
				<div class="profile-info-row">
					<div class="profile-info-name" style="width:40%;">确认新密码</div>
					<div class="profile-info-value" style="width:60%;">
						<input id="newPassword2" type="password" name="newPassword2" onchange="chek-newpwd2()">
						<!-- 此id用于ajax检测  -->
						<font id="functionHint2" color="red">*</font>
					</div>
				</div><!-- 确认新密码 -->
			</div>
		</div><!-- 表格 -->
		<div style="width:100%;text-align: center;">
			<button class="btn btn-primary btn-round btn-sm" style="margin-top:5px;" onclick="updatepwd()">
				<i class="glyphicon glyphicon-ok"></i>
				确认
			</button>
		</div><!-- 确认按钮 -->
	</body>
</html>