<!DOCTYPE html>
<html>
	<head>
		<title>可排序可选中的表格控件</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/font-awesome.css">

		<link rel="stylesheet" type="text/css" href="../../components/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-rtl.min.css">
		<link rel="stylesheet" type="text/css" href="../../components/ace/css/ace-skins.min.css">

		

	</head>
	<body>
		<div id="budget_audit" class="table-responsive">
			<div class="row col-md-12">
				<br>
				&nbsp;&nbsp;
				<button class="btn btn-primary btn-sm" v-on:click="allow">
					一键通过
				</button>
				&nbsp;&nbsp;
				<button class="btn btn-primary btn-sm" v-on:click="reject">
					一键驳回
				</button>
				&nbsp;&nbsp;
				<button class="btn btn-primary btn-sm" v-on:click="refresh">
					<i class="icon-refresh"></i>
					刷新
				</button>
			</div>
			<table id="sample-table" class="table table-hover table-bordered dataTable">
				
				<thead>
					<tr>
						<th class="center" style="width: 53px;">
							<label>
								<input class="ace" type="checkbox"></input>
								<span class="lbl"></span>
							</label>
						</th>
						<th class="center sorting">预算项目</th>
						<th class="center sorting">采购品目</th>
						<th class="center sorting">单位</th>
						<th class="center sorting">数量</th>
						<th class="center sorting">单价/万</th>
						<th class="center sorting">总价/万</th>
						<th class="center sorting">进度</th>
					</tr>
				</thead>
				<tbody class="center">
					 <tr v-for="(purchase,index) in purchases">
						<td>
							<label>
								<input class="ace" type="checkbox"></input>
								<span class="lbl"></span>
							</label>
						</td>
						<td>{{ purchase.budgetApp.name }}</td>
						<td>{{ purchase.purchaseItem.name }}</td>
						<td>{{ purchase.unit }}</td>
						<td>{{ purchase.count }}</td>
						<td>{{ purchase.price }}</td>
						<td>{{ purchase.price }}</td>
						<td>{{ purchase.auditState }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript" src="../../components/jquery/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="../../components/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript" src="../../components/jquery/jquery.dataTables.bootstrap.js"></script>

		<script type="text/javascript" src="../../components/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../components/ace/js/ace-elements.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace-extra.min.js"></script>
		<script type="text/javascript" src="../../components/ace/js/ace.min.js"></script>
		

		<script type="text/javascript" src="../../components/vue/vue.js"></script>
		<script type="text/javascript" src="../../js/manager/budget_audit.js"></script>

	</body>
</html>